header {
    position: sticky;
    top:0;
    z-index: 100;
}

header nav {
    background-color: var(--first-color);
    padding: 16px 32px;
    min-height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;  
}
.navegador a {
    padding: 16px;
    text-decoration: none;
    color: var(--second-color);
    font-weight: bolder;    
}